{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}Recommendations{% endblock %}
{% block body %}
<div class="content-section">
    <br/>
    {{ utils.flashed_messages() }}
    <br/>
<div class="center">
    <h1>Enter a Movie you've Previously liked, we'll handle the rest</h1>
    <br/>
    {{ wtf.quick_form(form) }}
</div>
<div class="center content-section">

    {% for movie in final_result %}
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="col-item" id="">
                <!--image-->
                <div class="post-img-content">
                    <img src=""   class="img-responsive" id="movieposter"/>
                    <span class="post-title"><!--http://placehold.it/350x260-->
                    </span>
                    <span class="round-tag">new</span>
                </div>
                <!--info-->
                <div class="info">
                    <div class="row">
                        <div class="price col-md-6">
                            <h5>{{ movie }}</h5>
                            <h5 class="price-text-color">Price</h5>
                        </div>
                        <div class="rating hidden-sm col-md-6">
                            <h5 class="price-text-color"></h5>
                        </div>
                    </div>
                    <!--button-->
                    <div class="separator clear-left">
                        <p class="btn-add">
                             <i class="fa fa-shopping-cart"></i>
                               <a href="" class="hidden-sm">Add to cart</a></p>
                        <p class="btn-details">
                            <i class="fa fa-list"></i><a href="" class="hidden-sm">More details</a></p>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

</div>
</div>

{% endblock %}